In [1]:
import pandas as pd
import os

In [2]:
# Define function to uppercase headers
def uppercase_column_names(df):
    df.columns = [str(col).upper() for col in df.columns]
    return df

In [3]:
# Introduce the file 
filepath1 = "Chen et al_LUAD Book1.xlsx"
filepath2 = "Clark et al_RCC Tumor Protein Expression.xlsx"
filepath3 = 'Gillette et al_LUAD Proteomic Data.xlsx'
filepath4 = 'Jayavelu et al Data S3 Validation Cohort.xlsx'
filepath5 = 'Kramer et al_patient information 2.0.xlsx'
filepath6 = 'Kamila et al.xlsx'
filepath7 = 'Tobys et al_AP2 tra12770-sup-0002-tables1.xlsx'

## Read in first file and clear up the meta data

In [4]:
xl = pd.ExcelFile(filepath1)
df1 = xl.parse('Sheet2',skiprows=2, nrows = 11239, header = None)
df1.shape

(11239, 490)

In [5]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,480,481,482,483,484,485,486,487,488,489
0,id,authority,ncbi_gene_id,gene_id,97f912b6-0037-4dfc-881a-4d5d24381399,488c5199-7536-4bee-baeb-60a29e7725e1,eac9ecff-2112-435b-b915-d2ade275d0ff,183bd5d9-4f06-42fc-a72e-93f43e0c3d4a,7ce97481-3883-4507-983e-e27caddf11f9,093160e1-0e90-4425-90e6-4502c7ed1e94,...,1fd3b92b-77c3-44bd-9fb0-359073583f24,7437d945-1407-4dea-a7da-12731d6044f0,45d57bda-bace-4fd2-9b52-cd03d9c18956,c85cb6d6-b7d2-4dad-8896-8db7b8d57511,372b68d8-0903-4e03-a54f-188d762263eb,631cbf18-eb2b-4843-ac19-9061c641dc73,fcec70b9-683f-400c-b3e3-8d8811960254,4acdeed5-3f81-4d0d-95a0-0cefb55eca2d,620d8c6b-b537-4efd-8439-b9f322488261,97fd2309-f7f4-4b80-8833-52980b219238
1,case_submitter_id,na,na,na,P055,P055,P067,P055,P059,P083,...,P112,QC2_LateStageTumor_pool,P049,P019,P045,P003,QC2_LateStageTumor_pool,P061,P028,P062
2,aliquot_submitter_id,na,na,na,P055-2-1,P055-1-1,P067-1-1,P055-1-1,P059-2-1,P083-1-1,...,P112-2-1,QC2_LateStageTumor_pool,P049-2-1,P019-2-1,P045-2-1,P003-2-1,QC2_LateStageTumor_pool,P061-2-1,P028-2-1,P062-2-1
3,aliquot_id,na,na,na,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,24b610e5-8beb-11ea-b1fd-0aad30af8a83,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,24b5fe6f-8beb-11ea-b1fd-0aad30af8a83,24b639c9-8beb-11ea-b1fd-0aad30af8a83,...,24b6822c-8beb-11ea-b1fd-0aad30af8a83,24b68574-8beb-11ea-b1fd-0aad30af8a83,24b5e39e-8beb-11ea-b1fd-0aad30af8a83,24b5951c-8beb-11ea-b1fd-0aad30af8a83,24b5d9fc-8beb-11ea-b1fd-0aad30af8a83,24b56c52-8beb-11ea-b1fd-0aad30af8a83,24b68574-8beb-11ea-b1fd-0aad30af8a83,24b60293-8beb-11ea-b1fd-0aad30af8a83,24b5adb4-8beb-11ea-b1fd-0aad30af8a83,24b60527-8beb-11ea-b1fd-0aad30af8a83
4,sample_type,na,na,na,Tumor,Normal Adjacent Tissue,Normal Adjacent Tissue,Normal Adjacent Tissue,Tumor,Normal Adjacent Tissue,...,Tumor,Not Reported,Tumor,Tumor,Tumor,Tumor,Not Reported,Tumor,Tumor,Tumor

In [6]:
df1 = df1.transpose()
df1.shape

(490, 11239)

In [7]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,11229,11230,11231,11232,11233,11234,11235,11236,11237,11238
0,id,case_submitter_id,aliquot_submitter_id,aliquot_id,sample_type,aliquot_status,case_status,sample_status,disease_type,primary_site,...,ZSCAN31,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
1,authority,na,na,na,na,na,na,na,na,na,...,HGNC:14097,HGNC:23528,HGNC:34495,HGNC:13194,HGNC:25468,HGNC:28160,HGNC:25820,HGNC:13200,HGNC:29027,HGNC:24523
2,ncbi_gene_id,na,na,na,na,na,na,na,na,na,...,64288,23053,374920,9183,55055,79364,79699,7791,23140,26009
3,gene_id,na,na,na,na,na,na,na,na,na,...,fb6906ca-b814-11e8-907f-0a2705229b82,fb690815-b814-11e8-907f-0a2705229b82,1d368636-41a2-11e9-9a07-0a80fada099c,fb690954-b814-11e8-907f-0a2705229b82,fb690b32-b814-11e8-907f-0a2705229b82,fb690dcd-b814-11e8-907f-0a2705229b82,fb690f08-b814-11e8-907f-0a2705229b82,fb691112-b814-11e8-907f-0a2705229b82,fb691289-b814-11e8-907f-0a2705229b82,fb6913d3-b814-11e8-907f-0a2705229b82
4,97f912b6-0037-4dfc-881a-4d5d24381399,P055,P055-2-1,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.38,-0.37,0.54,-0.01,0.1,NaN,0.08,0.09,-0.07,0.26

In [8]:
header = df1.iloc[0]
df1 = df1[1:]
df1.columns = header
df1.shape

(489, 11239)

In [9]:
df1.head()

,id,case_submitter_id,aliquot_submitter_id,aliquot_id,sample_type,aliquot_status,case_status,sample_status,disease_type,primary_site,...,ZSCAN31,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
1,authority,na,na,na,na,na,na,na,na,na,...,HGNC:14097,HGNC:23528,HGNC:34495,HGNC:13194,HGNC:25468,HGNC:28160,HGNC:25820,HGNC:13200,HGNC:29027,HGNC:24523
2,ncbi_gene_id,na,na,na,na,na,na,na,na,na,...,64288,23053,374920,9183,55055,79364,79699,7791,23140,26009
3,gene_id,na,na,na,na,na,na,na,na,na,...,fb6906ca-b814-11e8-907f-0a2705229b82,fb690815-b814-11e8-907f-0a2705229b82,1d368636-41a2-11e9-9a07-0a80fada099c,fb690954-b814-11e8-907f-0a2705229b82,fb690b32-b814-11e8-907f-0a2705229b82,fb690dcd-b814-11e8-907f-0a2705229b82,fb690f08-b814-11e8-907f-0a2705229b82,fb691112-b814-11e8-907f-0a2705229b82,fb691289-b814-11e8-907f-0a2705229b82,fb6913d3-b814-11e8-907f-0a2705229b82
4,97f912b6-0037-4dfc-881a-4d5d24381399,P055,P055-2-1,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.38,-0.37,0.54,-0.01,0.1,NaN,0.08,0.09,-0.07,0.26
5,488c5199-7536-4bee-baeb-60a29e7725e1,P055,P055-1-1,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.08,-0.33,0.62,0.09,0.28,NaN,0.04,-0.32,0.11,0.11

In [10]:
df1 = df1[3:]
df1.shape

(486, 11239)

In [11]:
df1.reset_index(drop=True, inplace=True)
df1.head()

,id,case_submitter_id,aliquot_submitter_id,aliquot_id,sample_type,aliquot_status,case_status,sample_status,disease_type,primary_site,...,ZSCAN31,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,97f912b6-0037-4dfc-881a-4d5d24381399,P055,P055-2-1,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.38,-0.37,0.54,-0.01,0.1,NaN,0.08,0.09,-0.07,0.26
1,488c5199-7536-4bee-baeb-60a29e7725e1,P055,P055-1-1,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.08,-0.33,0.62,0.09,0.28,NaN,0.04,-0.32,0.11,0.11
2,eac9ecff-2112-435b-b915-d2ade275d0ff,P067,P067-1-1,24b610e5-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.1,-0.26,0.59,0.1,NaN,NaN,0.17,-0.17,0.19,0.24
3,183bd5d9-4f06-42fc-a72e-93f43e0c3d4a,P055,P055-1-1,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,NaN,-0.26,0.08,0.06,-1,0.27,0.26,-0.32,0.12,0.24
4,7ce97481-3883-4507-983e-e27caddf11f9,P059,P059-2-1,24b5fe6f-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,1.15,-0.11,NaN,-0.17,-0.52,-0.48,-0.03,-0.17,-0.25,-0.32

In [12]:
df1 = uppercase_column_names(df1)

In [13]:
df1.head()

,ID,CASE_SUBMITTER_ID,ALIQUOT_SUBMITTER_ID,ALIQUOT_ID,SAMPLE_TYPE,ALIQUOT_STATUS,CASE_STATUS,SAMPLE_STATUS,DISEASE_TYPE,PRIMARY_SITE,...,ZSCAN31,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,97f912b6-0037-4dfc-881a-4d5d24381399,P055,P055-2-1,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.38,-0.37,0.54,-0.01,0.1,NaN,0.08,0.09,-0.07,0.26
1,488c5199-7536-4bee-baeb-60a29e7725e1,P055,P055-1-1,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.08,-0.33,0.62,0.09,0.28,NaN,0.04,-0.32,0.11,0.11
2,eac9ecff-2112-435b-b915-d2ade275d0ff,P067,P067-1-1,24b610e5-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,0.1,-0.26,0.59,0.1,NaN,NaN,0.17,-0.17,0.19,0.24
3,183bd5d9-4f06-42fc-a72e-93f43e0c3d4a,P055,P055-1-1,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Normal Adjacent Tissue,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,NaN,-0.26,0.08,0.06,-1,0.27,0.26,-0.32,0.12,0.24
4,7ce97481-3883-4507-983e-e27caddf11f9,P059,P059-2-1,24b5fe6f-8beb-11ea-b1fd-0aad30af8a83,Tumor,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,...,1.15,-0.11,NaN,-0.17,-0.52,-0.48,-0.03,-0.17,-0.25,-0.32

## Read in 2nd file and clean up metadata

In [14]:
x2 = pd.ExcelFile(filepath2)
df2 = x2.parse('Sheet2',skiprows=0, nrows = 10049, header = None)
df2.shape

(10049, 211)

In [15]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,201,202,203,204,205,206,207,208,209,210
0,id,authority,ncbi_gene_id,gene_id,685030d7-207c-11e9-b7f8-0a80fada099c,3fe058ac-207d-11e9-b7f8-0a80fada099c,9fca1441-207b-11e9-b7f8-0a80fada099c,01fb1ceb-207d-11e9-b7f8-0a80fada099c,4bf2326a-207d-11e9-b7f8-0a80fada099c,01d04930-207b-11e9-b7f8-0a80fada099c,...,a25cd5c3-207b-11e9-b7f8-0a80fada099c,449967eb-207b-11e9-b7f8-0a80fada099c,a4ed2117-207b-11e9-b7f8-0a80fada099c,97d84ba0-207b-11e9-b7f8-0a80fada099c,fc3cdfd4-207a-11e9-b7f8-0a80fada099c,7e2d2db8-207c-11e9-b7f8-0a80fada099c,66d1c302-207c-11e9-b7f8-0a80fada099c,fa672cb4-207c-11e9-b7f8-0a80fada099c,6edbfcd8-207c-11e9-b7f8-0a80fada099c,642e657a-207c-11e9-b7f8-0a80fada099c
1,case_id,na,na,na,NaN,c2b91945-1fb8-11e9-b7f8-0a80fada099c,227bf2e8-1fb9-11e9-b7f8-0a80fada099c,NaN,effb1654-1fb8-11e9-b7f8-0a80fada099c,b76d3749-1fb8-11e9-b7f8-0a80fada099c,...,NaN,NaN,NaN,caf0e98e-1fb8-11e9-b7f8-0a80fada099c,cfd3d3fd-1fb8-11e9-b7f8-0a80fada099c,NaN,NaN,NaN,b5d88141-1fb8-11e9-b7f8-0a80fada099c,NaN
2,case_submitter_id,na,na,na,C3N-00168,C3L-00416,C3L-01560,QC5,C3L-00910,C3L-00097,...,C3N-00437,C3N-01646,C3N-00390,C3L-00581,C3L-00607,C3N-00492,C3N-00495,C3N-00246,C3L-00096,C3N-00194
3,aliquot_submitter_id,na,na,na,CPT0020020001,CPT0010110003,CPT0086030003,QC5,CPT0007860003,CPT0000790001,...,CPT0012550003,CPT0088500001,CPT0017450001,CPT0007470001,CPT0025060001,CPT0012770003,CPT0078530001,CPT0025580004,CPT0001190001,CPT0014160003
4,aliquot_id,na,na,na,aae4af3e-2053-11e9-b7f8-0a80fada099c,858dc2df-2053-11e9-b7f8-0a80fada099c,faad7a51-2053-11e9-b7f8-0a80fada099c,2ca7d56f-2054-11e9-b7f8-0a80fada099c,803029c0-2053-11e9-b7f8-0a80fada099c,4f9821f1-2053-11e9-b7f8-0a80fada099c,...,905f7baa-2053-11e9-b7f8-0a80fada099c,057b25a7-2054-11e9-b7f8-0a80fada099c,a4bb44a7-2053-11e9-b7f8-0a80fada099c,7f64a7c8-2053-11e9-b7f8-0a80fada099c,b483c688-2053-11e9-b7f8-0a80fada099c,93e0b56d-2053-11e9-b7f8-0a80fada099c,e06bb96f-2053-11e9-b7f8-0a80fada099c,b99be172-2053-11e9-b7f8-0a80fada099c,5bb1ff66-2053-11e9-b7f8-0a80fada099c,9927a7f6-2053-11e9-b7f8-0a80fada099c

In [16]:
df2 = df2.transpose()
header = df2.iloc[0]
df2 = df2[1:]
df2.columns = header
df2.shape

(210, 10049)

In [17]:
df2.head()

,id,case_id,case_submitter_id,aliquot_submitter_id,aliquot_id,sample_type,aliquot_status,case_status,sample_status,disease_type,...,ZSCAN26,ZSCAN31,ZSWIM8,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
1,authority,na,na,na,na,na,na,na,na,na,...,HGNC:12978,HGNC:14097,HGNC:23528,HGNC:13194,HGNC:25468,HGNC:28160,HGNC:25820,HGNC:13200,HGNC:29027,HGNC:24523
2,ncbi_gene_id,na,na,na,na,na,na,na,na,na,...,7741,64288,23053,9183,55055,79364,79699,7791,23140,26009
3,gene_id,na,na,na,na,na,na,na,na,na,...,fb6901fd-b814-11e8-907f-0a2705229b82,fb6906ca-b814-11e8-907f-0a2705229b82,fb690815-b814-11e8-907f-0a2705229b82,fb690954-b814-11e8-907f-0a2705229b82,fb690b32-b814-11e8-907f-0a2705229b82,fb690dcd-b814-11e8-907f-0a2705229b82,fb690f08-b814-11e8-907f-0a2705229b82,fb691112-b814-11e8-907f-0a2705229b82,fb691289-b814-11e8-907f-0a2705229b82,fb6913d3-b814-11e8-907f-0a2705229b82
4,685030d7-207c-11e9-b7f8-0a80fada099c,NaN,C3N-00168,CPT0020020001,aae4af3e-2053-11e9-b7f8-0a80fada099c,Solid Tissue Normal,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,-0.27,NaN,0.07,0.11,-1.27,NaN,0.09,-0.15,0.01,-0.03
5,3fe058ac-207d-11e9-b7f8-0a80fada099c,c2b91945-1fb8-11e9-b7f8-0a80fada099c,C3L-00416,CPT0010110003,858dc2df-2053-11e9-b7f8-0a80fada099c,Primary Tumor,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,0.13,NaN,0.04,-0.07,-0.06,0,0,0.04,0.03,-0.12

In [18]:
df2 = df2[3:]
df2.reset_index(drop=True, inplace=True)
df2.shape

(207, 10049)

In [19]:
df2 = uppercase_column_names(df2)

In [20]:
df2.head()

,ID,CASE_ID,CASE_SUBMITTER_ID,ALIQUOT_SUBMITTER_ID,ALIQUOT_ID,SAMPLE_TYPE,ALIQUOT_STATUS,CASE_STATUS,SAMPLE_STATUS,DISEASE_TYPE,...,ZSCAN26,ZSCAN31,ZSWIM8,ZW10,ZWILCH,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,685030d7-207c-11e9-b7f8-0a80fada099c,NaN,C3N-00168,CPT0020020001,aae4af3e-2053-11e9-b7f8-0a80fada099c,Solid Tissue Normal,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,-0.27,NaN,0.07,0.11,-1.27,NaN,0.09,-0.15,0.01,-0.03
1,3fe058ac-207d-11e9-b7f8-0a80fada099c,c2b91945-1fb8-11e9-b7f8-0a80fada099c,C3L-00416,CPT0010110003,858dc2df-2053-11e9-b7f8-0a80fada099c,Primary Tumor,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,0.13,NaN,0.04,-0.07,-0.06,0,0,0.04,0.03,-0.12
2,9fca1441-207b-11e9-b7f8-0a80fada099c,227bf2e8-1fb9-11e9-b7f8-0a80fada099c,C3L-01560,CPT0086030003,faad7a51-2053-11e9-b7f8-0a80fada099c,Primary Tumor,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,-0.2,-0.69,-0.43,-0.37,0.87,-0.25,0.26,0.15,0.14,NaN
3,01fb1ceb-207d-11e9-b7f8-0a80fada099c,NaN,QC5,QC5,2ca7d56f-2054-11e9-b7f8-0a80fada099c,Not Reported,Qualified,Qualified,Qualified,Other,...,-0.46,NaN,0.47,0.08,NaN,0.15,0.76,-0.92,-0.02,0.4
4,4bf2326a-207d-11e9-b7f8-0a80fada099c,effb1654-1fb8-11e9-b7f8-0a80fada099c,C3L-00910,CPT0007860003,803029c0-2053-11e9-b7f8-0a80fada099c,Primary Tumor,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,...,-0.82,0.28,-0.09,-0.14,0.41,-0.52,0.02,-0.03,0.11,0.24

In [21]:
## Read in 3rd file and clean up metadata

In [22]:
x3 = pd.ExcelFile(filepath3)
df3 = x3.parse(sheet_name='Sheet2', skiprows=2, nrows = 11069, header = None)
df3.shape

(11069, 227)

In [23]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,217,218,219,220,221,222,223,224,225,226
0,id,authority,ncbi_gene_id,gene_id,467e944a-becc-11e9-9a07-0a80fada099c,46764385-becc-11e9-9a07-0a80fada099c,4658b2d9-becc-11e9-9a07-0a80fada099c,46ab2f14-becc-11e9-9a07-0a80fada099c,46476908-becc-11e9-9a07-0a80fada099c,469ae576-becc-11e9-9a07-0a80fada099c,...,46beb645-becc-11e9-9a07-0a80fada099c,46673802-becc-11e9-9a07-0a80fada099c,46920aa3-becc-11e9-9a07-0a80fada099c,467e18a1-becc-11e9-9a07-0a80fada099c,46562545-becc-11e9-9a07-0a80fada099c,4633d898-becc-11e9-9a07-0a80fada099c,466f3763-becc-11e9-9a07-0a80fada099c,46868516-becc-11e9-9a07-0a80fada099c,466cd479-becc-11e9-9a07-0a80fada099c,468f718e-becc-11e9-9a07-0a80fada099c
1,case_id,na,na,na,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,f1ed9fdb-cf1e-11e9-9a07-0a80fada099c,NaN,NaN,NaN,NaN
2,sample_type,na,na,na,Primary Tumor,Solid Tissue Normal,Solid Tissue Normal,Solid Tissue Normal,Solid Tissue Normal,Primary Tumor,...,Not Reported,Primary Tumor,Primary Tumor,Solid Tissue Normal,Primary Tumor,Primary Tumor,Solid Tissue Normal,Solid Tissue Normal,Solid Tissue Normal,Solid Tissue Normal
3,sample_id,na,na,na,a72896a1-d0a6-11e9-9a07-0a80fada099c,9e14cdb5-d0a6-11e9-9a07-0a80fada099c,a48ae544-d0a6-11e9-9a07-0a80fada099c,ad9d7b92-d0a6-11e9-9a07-0a80fada099c,a07f87f2-d0a6-11e9-9a07-0a80fada099c,9f7effde-d0a6-11e9-9a07-0a80fada099c,...,ae1a211c-d0a6-11e9-9a07-0a80fada099c,a5de8745-d0a6-11e9-9a07-0a80fada099c,9efeea9b-d0a6-11e9-9a07-0a80fada099c,a659a6f1-d0a6-11e9-9a07-0a80fada099c,a4732128-d0a6-11e9-9a07-0a80fada099c,9a72574c-d0a6-11e9-9a07-0a80fada099c,a0df847c-d0a6-11e9-9a07-0a80fada099c,a9b6136a-d0a6-11e9-9a07-0a80fada099c,a8ef13fe-d0a6-11e9-9a07-0a80fada099c,9eb5710c-d0a6-11e9-9a07-0a80fada099c
4,aliquot_id,na,na,na,64695387-d0b0-11e9-9a07-0a80fada099c,57ca50d1-d0b0-11e9-9a07-0a80fada099c,60e50d5c-d0b0-11e9-9a07-0a80fada099c,6d760135-d0b0-11e9-9a07-0a80fada099c,5b1fecc9-d0b0-11e9-9a07-0a80fada099c,5998470c-d0b0-11e9-9a07-0a80fada099c,...,6e2404f3-d0b0-11e9-9a07-0a80fada099c,62641b48-d0b0-11e9-9a07-0a80fada099c,58be95d5-d0b0-11e9-9a07-0a80fada099c,63664a5a-d0b0-11e9-9a07-0a80fada099c,6076bf54-d0b0-11e9-9a07-0a80fada099c,52704335-d0b0-11e9-9a07-0a80fada099c,5bae5c11-d0b0-11e9-9a07-0a80fada099c,67ea5efa-d0b0-11e9-9a07-0a80fada099c,66ef980d-d0b0-11e9-9a07-0a80fada099c,589d87c2-d0b0-11e9-9a07-0a80fada099c

In [24]:
df3 = df3.transpose()
header = df3.iloc[0]
df3 = df3[1:]
df3.columns = header
df3.shape

(226, 11069)

In [25]:
df3.head()

,id,case_id,sample_type,sample_id,aliquot_id,aliquot_submitter_id,diagnosis_id,tissue_or_organ_of_origin,primary_diagnosis,tumor_grade,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
1,authority,na,na,na,na,na,na,na,na,na,...,HGNC:34495,HGNC:13194,HGNC:25468,HGNC:13195,HGNC:13198,HGNC:28160,HGNC:25820,HGNC:13200,HGNC:29027,HGNC:24523
2,ncbi_gene_id,na,na,na,na,na,na,na,na,na,...,374920,9183,55055,11130,7789,79364,79699,7791,23140,26009
3,gene_id,na,na,na,na,na,na,na,na,na,...,1d368636-41a2-11e9-9a07-0a80fada099c,fb690954-b814-11e8-907f-0a2705229b82,fb690b32-b814-11e8-907f-0a2705229b82,fb690c91-b814-11e8-907f-0a2705229b82,248579c9-b815-11e8-907f-0a2705229b82,fb690dcd-b814-11e8-907f-0a2705229b82,fb690f08-b814-11e8-907f-0a2705229b82,fb691112-b814-11e8-907f-0a2705229b82,fb691289-b814-11e8-907f-0a2705229b82,fb6913d3-b814-11e8-907f-0a2705229b82
4,467e944a-becc-11e9-9a07-0a80fada099c,NaN,Primary Tumor,a72896a1-d0a6-11e9-9a07-0a80fada099c,64695387-d0b0-11e9-9a07-0a80fada099c,CPT0105270003,2b9f5043-27a4-11ec-b712-0a4e2186f121,"Upper lobe, lung","Adenocarcinoma, NOS",G3,...,NaN,-0.08,0.97,1,-0.37,-0.37,-0.01,-0.29,-0.04,-0.28
5,46764385-becc-11e9-9a07-0a80fada099c,NaN,Solid Tissue Normal,9e14cdb5-d0a6-11e9-9a07-0a80fada099c,57ca50d1-d0b0-11e9-9a07-0a80fada099c,CPT0092940003,297a77c6-27a4-11ec-b712-0a4e2186f121,"Upper lobe, lung","Adenocarcinoma, NOS",G1,...,-0.02,-0.23,-0.22,NaN,NaN,-0.2,-0.06,0.21,0.15,0.51

In [26]:
df3 = df3[3:]
df3.reset_index(drop=True, inplace=True)
df3.shape

(223, 11069)

In [27]:
df3 = uppercase_column_names(df3)

In [28]:
df3.head()

,ID,CASE_ID,SAMPLE_TYPE,SAMPLE_ID,ALIQUOT_ID,ALIQUOT_SUBMITTER_ID,DIAGNOSIS_ID,TISSUE_OR_ORGAN_OF_ORIGIN,PRIMARY_DIAGNOSIS,TUMOR_GRADE,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,467e944a-becc-11e9-9a07-0a80fada099c,NaN,Primary Tumor,a72896a1-d0a6-11e9-9a07-0a80fada099c,64695387-d0b0-11e9-9a07-0a80fada099c,CPT0105270003,2b9f5043-27a4-11ec-b712-0a4e2186f121,"Upper lobe, lung","Adenocarcinoma, NOS",G3,...,NaN,-0.08,0.97,1,-0.37,-0.37,-0.01,-0.29,-0.04,-0.28
1,46764385-becc-11e9-9a07-0a80fada099c,NaN,Solid Tissue Normal,9e14cdb5-d0a6-11e9-9a07-0a80fada099c,57ca50d1-d0b0-11e9-9a07-0a80fada099c,CPT0092940003,297a77c6-27a4-11ec-b712-0a4e2186f121,"Upper lobe, lung","Adenocarcinoma, NOS",G1,...,-0.02,-0.23,-0.22,NaN,NaN,-0.2,-0.06,0.21,0.15,0.51
2,4658b2d9-becc-11e9-9a07-0a80fada099c,NaN,Solid Tissue Normal,a48ae544-d0a6-11e9-9a07-0a80fada099c,60e50d5c-d0b0-11e9-9a07-0a80fada099c,CPT0069550003,2af83fd3-27a4-11ec-b712-0a4e2186f121,"Lung, NOS","Adenocarcinoma, NOS",G2,...,NaN,-0.18,-0.68,0.01,-0.01,-0.09,0.07,0.41,0.19,0.43
3,46ab2f14-becc-11e9-9a07-0a80fada099c,NaN,Solid Tissue Normal,ad9d7b92-d0a6-11e9-9a07-0a80fada099c,6d760135-d0b0-11e9-9a07-0a80fada099c,CPT0148100003,2d1d4e06-27a4-11ec-b712-0a4e2186f121,"Lower lobe, lung","Adenocarcinoma, NOS",G2,...,0.2,-0.18,-0.51,-0.9,NaN,NaN,0.2,0.53,0.18,0.13
4,46476908-becc-11e9-9a07-0a80fada099c,NaN,Solid Tissue Normal,a07f87f2-d0a6-11e9-9a07-0a80fada099c,5b1fecc9-d0b0-11e9-9a07-0a80fada099c,CPT0066810003,2a31179a-27a4-11ec-b712-0a4e2186f121,"Lung, NOS","Adenocarcinoma, NOS",G3,...,0.38,-0.13,-0.33,-0.35,0.31,0.25,0.07,0.33,0.18,0.16

In [29]:
## Read in fourth file and clean up metadata

In [30]:
x4 = pd.ExcelFile(filepath4)
df4 = x4.parse(sheet_name='Clinical Characteristics', skiprows=0, nrows = 76, header = None)
df4.shape

(76, 20)

In [31]:
df4.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,ID,Sex,Age at Diagnosis [Years],Peripheral Blasts [%],Bone marrow Blasts [%],Precursor,Karyotype,NPM1,FLT3,FLT3ITD VAF,ELN,FAB,Induction cycles [n],Day 15 bone marrow blasts,CR1,Allogeneic HSCT,Death Event,OS [months],Relapse Event,RFS [months]
1,AML34,f,65,79,50.5,de novo,NaN,NaN,WT,NaN,Favorable,M2,1,NaN,CR1,TraNo TransplantsplaNo Transplantt,0,89.74359,1,15.450362
2,AML44,f,74,53,NaN,de novo,NaN,Mut,WT,NaN,Intermediate,AL,1,Blast clearance,CR1,No Transplant,1,36.489152,1,14.102564
3,AML46,m,67,54,93,de novo,NaN,Mut,WT,NaN,Intermediate,M1,1,No blast clearance,CR1,No Transplant,0,34.812623,0,33.168968
4,AML53,m,75,25,74,de novo,NaN,WT,WT,NaN,Favorable,M2,1,Blast clearance,CR1,No Transplant,1,12.163051,1,10.190664

In [32]:
header = df4.iloc[0]
df4 = df4[1:]
df4.columns = header
df4.reset_index(drop=True, inplace=True)
df4.shape

(75, 20)

In [33]:
df4 = uppercase_column_names(df4)

In [34]:
df4.head()

,ID,SEX,AGE AT DIAGNOSIS [YEARS],PERIPHERAL BLASTS [%],BONE MARROW BLASTS [%],PRECURSOR,KARYOTYPE,NPM1,FLT3,FLT3ITD VAF,ELN,FAB,INDUCTION CYCLES [N],DAY 15 BONE MARROW BLASTS,CR1,ALLOGENEIC HSCT,DEATH EVENT,OS [MONTHS],RELAPSE EVENT,RFS [MONTHS]
0,AML34,f,65,79,50.5,de novo,NaN,NaN,WT,NaN,Favorable,M2,1,NaN,CR1,TraNo TransplantsplaNo Transplantt,0,89.74359,1,15.450362
1,AML44,f,74,53,NaN,de novo,NaN,Mut,WT,NaN,Intermediate,AL,1,Blast clearance,CR1,No Transplant,1,36.489152,1,14.102564
2,AML46,m,67,54,93,de novo,NaN,Mut,WT,NaN,Intermediate,M1,1,No blast clearance,CR1,No Transplant,0,34.812623,0,33.168968
3,AML53,m,75,25,74,de novo,NaN,WT,WT,NaN,Favorable,M2,1,Blast clearance,CR1,No Transplant,1,12.163051,1,10.190664
4,AML54,m,46,NaN,66.5,de novo,NaN,WT,WT,NaN,Favorable,M4Eo,1,NaN,no CR1,No Transplant,1,0.164366,NaN,NaN

In [35]:
## Read in fifth file and clean up metadata

In [36]:
x5 = pd.ExcelFile(filepath5)
df5 = x5.parse(sheet_name='Clinical Information', skiprows=0, nrows = 45, header = None)
df5.shape

(45, 1985)

In [37]:
df5.head()

,0,1,2,3,4,5,6,7,8,9,...,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984
0,UPN,TCGA Patient ID,Expired? 4.30.13,Sex,Race/Ethnicity,FAB,Age,%BM Blast,WBC,%PB Blast,...,ZNF783,ZNF788,ZNF827,ZNF99,ZPBP,ZSCAN21,ZSCAN5A,ZYG11A,Mutated Genes,Mutated Recurrent Genes
1,103342,2978,*,F,Caucasian,M2,61,43,9.8,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,7
2,113971,2966,*,F,Caucasian,M2,57,43,3.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,8
3,146218,2870,*,M,Caucasian,M1,76,73,34,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,6
4,258135,2914,,F,Caucasian,M2,22,55,51.8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,8

In [38]:
header = df5.iloc[0]
df5 = df5[1:]
df5.columns = header
df5.reset_index(drop=True, inplace=True)
df5.shape

(44, 1985)

In [39]:
df5.head()

,UPN,TCGA Patient ID,Expired? 4.30.13,Sex,Race/Ethnicity,FAB,Age,%BM Blast,WBC,%PB Blast,...,ZNF783,ZNF788,ZNF827,ZNF99,ZPBP,ZSCAN21,ZSCAN5A,ZYG11A,Mutated Genes,Mutated Recurrent Genes
0,103342,2978,*,F,Caucasian,M2,61,43,9.8,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,7
1,113971,2966,*,F,Caucasian,M2,57,43,3.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,8
2,146218,2870,*,M,Caucasian,M1,76,73,34,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,6
3,258135,2914,,F,Caucasian,M2,22,55,51.8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,8
4,273919,3000,,M,Caucasian,M2,25,56,98.8,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3

In [40]:
df5 = df5.iloc[:, :1997]
df5.reset_index(drop=True, inplace=True)
df5.shape

(44, 1985)

In [41]:
df5 = uppercase_column_names(df5)

In [42]:
df5.head()

,UPN,TCGA PATIENT ID,EXPIRED? 4.30.13,SEX,RACE/ETHNICITY,FAB,AGE,%BM BLAST,WBC,%PB BLAST,...,ZNF783,ZNF788,ZNF827,ZNF99,ZPBP,ZSCAN21,ZSCAN5A,ZYG11A,MUTATED GENES,MUTATED RECURRENT GENES
0,103342,2978,*,F,Caucasian,M2,61,43,9.8,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,7
1,113971,2966,*,F,Caucasian,M2,57,43,3.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,8
2,146218,2870,*,M,Caucasian,M1,76,73,34,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,6
3,258135,2914,,F,Caucasian,M2,22,55,51.8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,8
4,273919,3000,,M,Caucasian,M2,25,56,98.8,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3

In [43]:
## Read in sixth file and clean up meta data

In [44]:
x6 = pd.ExcelFile(filepath6)
df6 = x6.parse(sheet_name='Supplementary Table 1', skiprows=0, header = None)
df6.shape

(7674, 37)

In [45]:
df6.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Protein IDs,Majority protein IDs,Protein names,Gene names,Number of proteins,Peptides,Razor + unique peptides,Unique peptides,C(pmol/mg) C1,C(pmol/mg) C10,...,C(pmol/mg) FL14,C(pmol/mg) FL15,C(pmol/mg) FL2,C(pmol/mg) FL3,C(pmol/mg) FL4,C(pmol/mg) FL5,C(pmol/mg) FL6,C(pmol/mg) FL7,C(pmol/mg) FL8,C(pmol/mg) FL9
1,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,Probable global transcription activator SNF2L1,SMARCA1,4,30,12,12,0,0.012429,...,0.014608,0.022426,0,0.002744,0,0,0.012181,0,0.012875,0.016807
2,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,NaN,IGHV4-34;IGHV4-59;IGHV4-61;IGHV4-39,7,3,3,3,16.901884,1.427175,...,1.72743,0,0.316087,0.202023,0.225222,0.660892,0,0,0.437809,2.825677
3,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,"Valine--tRNA ligase, mitochondrial",VARS2,11,28,28,28,0.512938,0.715448,...,0.559793,0.298356,0.163265,0.179274,0.448258,0.129288,0.140331,0.215341,0.3099,0.472894
4,A0A0G2JN66;A0A087WZV8,A0A0G2JN66;A0A087WZV8,NaN,TRBV28,2,5,5,1,1.432149,1.574022,...,0.923741,0.164761,0.642563,2.374377,0.578012,0.415934,0.183199,0.831818,1.193792,0.804384

In [46]:
header = df6.iloc[0]
df6 = df6[1:]
df6.columns = header
df6.reset_index(drop=True, inplace=True)
df6.shape

(7673, 37)

In [47]:
df6.head()

,Protein IDs,Majority protein IDs,Protein names,Gene names,Number of proteins,Peptides,Razor + unique peptides,Unique peptides,C(pmol/mg) C1,C(pmol/mg) C10,...,C(pmol/mg) FL14,C(pmol/mg) FL15,C(pmol/mg) FL2,C(pmol/mg) FL3,C(pmol/mg) FL4,C(pmol/mg) FL5,C(pmol/mg) FL6,C(pmol/mg) FL7,C(pmol/mg) FL8,C(pmol/mg) FL9
0,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,Probable global transcription activator SNF2L1,SMARCA1,4,30,12,12,0,0.012429,...,0.014608,0.022426,0,0.002744,0,0,0.012181,0,0.012875,0.016807
1,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,NaN,IGHV4-34;IGHV4-59;IGHV4-61;IGHV4-39,7,3,3,3,16.901884,1.427175,...,1.72743,0,0.316087,0.202023,0.225222,0.660892,0,0,0.437809,2.825677
2,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,"Valine--tRNA ligase, mitochondrial",VARS2,11,28,28,28,0.512938,0.715448,...,0.559793,0.298356,0.163265,0.179274,0.448258,0.129288,0.140331,0.215341,0.3099,0.472894
3,A0A0G2JN66;A0A087WZV8,A0A0G2JN66;A0A087WZV8,NaN,TRBV28,2,5,5,1,1.432149,1.574022,...,0.923741,0.164761,0.642563,2.374377,0.578012,0.415934,0.183199,0.831818,1.193792,0.804384
4,A1L0T0;E9PJS0;E9PL44,A1L0T0;E9PJS0,Acetolactate synthase-like protein,ILVBL,3,14,14,2,1.191357,1.038386,...,0.671176,0.597485,0.304442,0.348417,0.792399,0.171678,0.547694,0.418551,1.296658,1.273972

In [48]:
df6 = df6.iloc[:, :37]
df6.reset_index(drop=True, inplace=True)
df6.shape

(7673, 37)

In [49]:
df6 = uppercase_column_names(df6)

In [50]:
df6.head()

,PROTEIN IDS,MAJORITY PROTEIN IDS,PROTEIN NAMES,GENE NAMES,NUMBER OF PROTEINS,PEPTIDES,RAZOR + UNIQUE PEPTIDES,UNIQUE PEPTIDES,C(PMOL/MG) C1,C(PMOL/MG) C10,...,C(PMOL/MG) FL14,C(PMOL/MG) FL15,C(PMOL/MG) FL2,C(PMOL/MG) FL3,C(PMOL/MG) FL4,C(PMOL/MG) FL5,C(PMOL/MG) FL6,C(PMOL/MG) FL7,C(PMOL/MG) FL8,C(PMOL/MG) FL9
0,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,Probable global transcription activator SNF2L1,SMARCA1,4,30,12,12,0,0.012429,...,0.014608,0.022426,0,0.002744,0,0,0.012181,0,0.012875,0.016807
1,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,NaN,IGHV4-34;IGHV4-59;IGHV4-61;IGHV4-39,7,3,3,3,16.901884,1.427175,...,1.72743,0,0.316087,0.202023,0.225222,0.660892,0,0,0.437809,2.825677
2,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,"Valine--tRNA ligase, mitochondrial",VARS2,11,28,28,28,0.512938,0.715448,...,0.559793,0.298356,0.163265,0.179274,0.448258,0.129288,0.140331,0.215341,0.3099,0.472894
3,A0A0G2JN66;A0A087WZV8,A0A0G2JN66;A0A087WZV8,NaN,TRBV28,2,5,5,1,1.432149,1.574022,...,0.923741,0.164761,0.642563,2.374377,0.578012,0.415934,0.183199,0.831818,1.193792,0.804384
4,A1L0T0;E9PJS0;E9PL44,A1L0T0;E9PJS0,Acetolactate synthase-like protein,ILVBL,3,14,14,2,1.191357,1.038386,...,0.671176,0.597485,0.304442,0.348417,0.792399,0.171678,0.547694,0.418551,1.296658,1.273972

In [51]:
## Read seventh file and clean up metadata

In [52]:
x7 = pd.ExcelFile(filepath7)
df7 = x7.parse(sheet_name='C. HeLa surfaceome iBAQ ranked', skiprows=0, header = None)
df7.shape

(2413, 6)

In [53]:
df7.head()

,0,1,2,3,4,5
0,UniProt ID,Protein names,Gene name,Type of protein,% of total mass,Peptides
1,F5GZS6,4F2 cell-surface antigen heavy chain,SLC3A2,single TM helix,0.050251,55
2,P35613,Basigin,BSG,type-I,0.091381,21
3,P16070,CD44 antigen,CD44,type-I,0.122657,20
4,R4GN18,Membrane cofactor protein,CD46,type-I,0.15073,5

In [54]:
header = df7.iloc[0]
df7 = df7[1:]
df7.columns = header
df7.reset_index(drop=True, inplace=True)
df7.shape

(2412, 6)

In [55]:
df7 = uppercase_column_names(df7)

In [56]:
df7.head()

,UNIPROT ID,PROTEIN NAMES,GENE NAME,TYPE OF PROTEIN,% OF TOTAL MASS,PEPTIDES
0,F5GZS6,4F2 cell-surface antigen heavy chain,SLC3A2,single TM helix,0.050251,55
1,P35613,Basigin,BSG,type-I,0.091381,21
2,P16070,CD44 antigen,CD44,type-I,0.122657,20
3,R4GN18,Membrane cofactor protein,CD46,type-I,0.15073,5
4,P05556,Integrin beta-1,ITGB1,type-I,0.171588,72

## Compare column headers and find same ones

In [57]:
df1.columns

Index(['ID', 'CASE_SUBMITTER_ID', 'ALIQUOT_SUBMITTER_ID', 'ALIQUOT_ID',
       'SAMPLE_TYPE', 'ALIQUOT_STATUS', 'CASE_STATUS', 'SAMPLE_STATUS',
       'DISEASE_TYPE', 'PRIMARY_SITE',
       ...
       'ZSCAN31', 'ZSWIM8', 'ZSWIM9', 'ZW10', 'ZWILCH', 'ZXDC', 'ZYG11B',
       'ZYX', 'ZZEF1', 'ZZZ3'],
      dtype='object', length=11239)

In [58]:
df2.columns

Index(['ID', 'CASE_ID', 'CASE_SUBMITTER_ID', 'ALIQUOT_SUBMITTER_ID',
       'ALIQUOT_ID', 'SAMPLE_TYPE', 'ALIQUOT_STATUS', 'CASE_STATUS',
       'SAMPLE_STATUS', 'DISEASE_TYPE',
       ...
       'ZSCAN26', 'ZSCAN31', 'ZSWIM8', 'ZW10', 'ZWILCH', 'ZXDC', 'ZYG11B',
       'ZYX', 'ZZEF1', 'ZZZ3'],
      dtype='object', length=10049)

In [59]:
df3.columns

Index(['ID', 'CASE_ID', 'SAMPLE_TYPE', 'SAMPLE_ID', 'ALIQUOT_ID',
       'ALIQUOT_SUBMITTER_ID', 'DIAGNOSIS_ID', 'TISSUE_OR_ORGAN_OF_ORIGIN',
       'PRIMARY_DIAGNOSIS', 'TUMOR_GRADE',
       ...
       'ZSWIM9', 'ZW10', 'ZWILCH', 'ZWINT', 'ZXDA', 'ZXDC', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', length=11069)

In [60]:
df1_columns = df1.columns.tolist()
len(df1_columns)

11239

In [61]:
df2_columns = df2.columns.tolist()
len(df2_columns)

10049

In [62]:
df3_columns = df3.columns.tolist()
len(df3_columns)

11069

In [63]:
common_ones = list(set(df1_columns) & set(df2_columns) & set(df3_columns))
len(common_ones)

9169

In [64]:
common_ones

['PSMD14',
 'BRD2',
 'LUC7L',
 'CENPV',
 'RNF20',
 'TUBB',
 'NAP1L1',
 'PRKAR2A',
 'LDB3',
 'CLYBL',
 'WASF3',
 'QRICH1',
 'FBL',
 'CHMP7',
 'SLC25A6',
 'PTEN',
 'RSL1D1',
 'GTPBP2',
 'TCN2',
 'ANXA9',
 'DST',
 'MGLL',
 'PPP1R14C',
 'ALOX5',
 'BCAP29',
 'MAPK8IP3',
 'MSH3',
 'HAUS8',
 'LPXN',
 'ZBED8',
 'TOMM6',
 'INHBC',
 'NENF',
 'SNRPA1',
 'GLMN',
 'DNAH5',
 'DDX52',
 'ATAD3A',
 'HELZ',
 'PIAS1',
 'LRRC20',
 'DDHD2',
 'AK4',
 'PRSS1',
 'ACVR1',
 'NKIRAS1',
 'THG1L',
 'PLEKHH2',
 'SH3D19',
 'CCDC25',
 'CAD',
 'TPR',
 'CTDP1',
 'SNRPD2',
 'VEGFA',
 'PHKG2',
 'RIPK4',
 'NGRN',
 'HNRNPH1',
 'PDZD11',
 'TTC4',
 'USP8',
 'TELO2',
 'PTPRCAP',
 'PIP5K1C',
 'PLEKHJ1',
 'NCS1',
 'STAT5B',
 'USP31',
 'TMEM106A',
 'PMM2',
 'ZER1',
 'SENP2',
 'SLC2A6',
 'USE1',
 'AP1AR',
 'CADM4',
 'CMSS1',
 'DPM1',
 'AMPD2',
 'PODXL',
 'MRRF',
 'IFRD1',
 'CRB3',
 'CHI3L1',
 'ING1',
 'RASA4',
 'KCNAB2',
 'WDR89',
 'EXOSC6',
 'KCNAB1',
 'PDLIM7',
 'TNFAIP3',
 'ACP1',
 'MYO1B',
 'ERO1B',
 'BRPF3',
 'LCLAT1',
 'TOR1B',
 'ABI3BP',
 'KCTD1',
 'TFRC',
 'CEP128',
 'ATP6V0A2',
 'ZNF76',
 'CYGB',
 'FBXW11',
 'PDXP',
 'RAMAC',
 'SRD5A3',
 'ALDH6A1',
 'CANX',
 'PLPP2',
 'MMS19',
 'CEP41',
 'MTMR10',
 'SLCO2B1',
 'SELENOT',
 'PSTPIP1',
 'STAT3',
 'CRKL',
 'PDCL3',
 'MRPS35',
 'PRXL2A',
 'TPD52L2',
 'RRAS',
 'SDR39U1',
 'SECISBP2',
 'HSD17B2',
 'MBNL2',
 'SHOC2',
 'HSPB7',
 'ZNF532',
 'PITRM1',
 'WWP1',
 'HSD17B7',
 'NUP133',
 'OAS1',
 'SART3',
 'DCUN1D1',
 'AP1G2',
 'PYCR3',
 'SRF',
 'FCGR2B',
 'PLLP',
 'XRCC4',
 'CHCHD10',
 'PSMD8',
 'LILRB1',
 'SLC7A1',
 'ICAM1',
 'FAM160B2',
 'FAM45A',
 'LAST_KNOWN_DISEASE_STATUS',
 'FMNL1',
 'CCDC8',
 'RPL38',
 'IFI30',
 'PDE12',
 'NRP1',
 'ALDH3A1',
 'NCL',
 'COG3',
 'FTH1',
 'HBG2',
 'ZBTB14',
 'RAP2B',
 'EPS8L1',
 'KCNMA1',
 'CIAO2B',
 'GBP1',
 'CDC40',
 'KLKB1',
 'METAP2',
 'IDH3B',
 'CIAO3',
 'YOD1',
 'UBE2J2',
 'PHETA1',
 'NPM1',
 'CDC16',
 'NXT1',
 'ATM',
 'BRMS1',
 'UTP25',
 'MED9',
 'JUND',
 'METTL15',
 'ANXA1',
 'BCAM',
 'DIAGNOSIS_ID',
 'CLSTN1',
 'TCEA2',
 'XPR1',
 'POLR2L',
 'TJP2',
 'TGFB1I1',
 'MASP2',
 'SPI1',
 'KDSR',
 'PGPEP1',
 'LEMD2',
 'SLC11A2',
 'GALNT10',
 'WDR35',
 'SETX',
 'ARID2',
 'FSCN1',
 'CDR2L',
 'RPS15',
 'NVL',
 'MYH14',
 'POP1',
 'SRSF2',
 'TBC1D10C',
 'CAVIN3',
 'ATP6V1G1',
 'SCUBE3',
 'COLEC12',
 'SLC25A30',
 'CENPC',
 'HAAO',
 'ECSIT',
 'AQR',
 'SHROOM3',
 'SLC25A32',
 'PACS1',
 'ATXN10',
 'PI4KA',
 'RPS25',
 'HMGN1',
 'ORC5',
 'KIAA0556',
 'SH3BP5',
 'IGSF3',
 'SMYD3',
 'HPS4',
 'FOLH1',
 'GSK3B',
 'TRAPPC2',
 'DHRS7B',
 'NOTCH1',
 'MRPL46',
 'ZDHHC13',
 'EHD2',
 'ITIH5',
 'SFPQ',
 'TLR3',
 'FAM107B',
 'ZDHHC5',
 'GALC',
 'TMEM87A',
 'RINT1',
 'SUZ12',
 'IL1RAP',
 'EIF2AK3',
 'SLC34A2',
 'TIGAR',
 'PEBP4',
 'WDR37',
 'C1ORF116',
 'IRF3',
 'TRIM65',
 'SPTLC1',
 'KMT5C',
 'CWC27',
 'RAD17',
 'ADAM15',
 'RAPH1',
 'COL1A2',
 'ATG4B',
 'FXN',
 'ZDHHC3',
 'MED23',
 'ELANE',
 'FSTL1',
 'PIGB',
 'GRAMD2B',
 'NAT10',
 'IFT22',
 'CDK17',
 'ACSL1',
 'SLC4A1',
 'URI1',
 'MRPL30',
 'TTI1',
 'TRIM41',
 'CSNK1E',
 'ARPC5',
 'ZZEF1',
 'PKN2',
 'RPL13',
 'MGP',
 'STK25',
 'ADIPOQ',
 'HVCN1',
 'PCCB',
 'SYT7',
 'LRRC58',
 'MAP2K1',
 'PHF20L1',
 'JUN',
 'FUT8',
 'BCL2L13',
 'TOMM34',
 'DLC1',
 'CEP63',
 'DIAPH1',
 'MAP9',
 'HBS1L',
 'GSDME',
 'PHAX',
 'ACP6',
 'SPIN1',
 'ATP13A1',
 'DHX8',
 'PZP',
 'DMWD',
 'DNAJA4',
 'BAG4',
 'CCDC137',
 'METTL13',
 'FGD2',
 'COPS8',
 'SORD',
 'SPOUT1',
 'ALDH1L2',
 'ZNF146',
 'RELB',
 'AADAT',
 'RARRES2',
 'HTD2',
 'SDK1',
 'F13A1',
 'PACSIN2',
 'PRKG1',
 'RERG',
 'TCP11L1',
 'DES',
 'EXOC4',
 'RAB20',
 'FAM50A',
 'FAM120A',
 'MAN1A1',
 'CCDC115',
 'ARMC8',
 'HPCAL1',
 'SPRYD7',
 'DDX5',
 'TMCC3',
 'ATG9A',
 'TRPM7',
 'MMP24OS',
 'ACAN',
 'DICER1',
 'ANKS3',
 'QTRT1',
 'ATAD2',
 'KRT4',
 'NNMT',
 'STEAP3',
 'MRPS27',
 'COL6A3',
 'HLCS',
 'MSANTD2',
 'ENOPH1',
 'CSNK1D',
 'MAPKAPK3',
 'PCYT2',
 'SERPINF2',
 'HSD17B4',
 'LYVE1',
 'ILK',
 'LTBP3',
 'ANPEP',
 'ARSB',
 'RBM4',
 'CCDC93',
 'PVR',
 'PODXL2',
 'CTNNBL1',
 'EFEMP2',
 'DDX6',
 'NFIC',
 'MTMR9',
 'NDUFAF1',
 'TOMM20',
 'APOBEC3F',
 'GNL1',
 'TBL3',
 'EFHD1',
 'CMTR2',
 'DOCK1',
 'SPAG5',
 'SEC13',
 'ALDH9A1',
 'COMMD6',
 'CPSF6',
 'LBP',
 'TNFAIP2',
 'EXOSC7',
 'GPATCH4',
 'PSME1',
 'ARHGAP6',
 'ARFIP2',
 'GALE',
 'FAM114A2',
 'CPD',
 'RUFY3',
 'MIER1',
 'TRMT6',
 'PSMA3',
 'TM9SF1',
 'CIB1',
 'SZT2',
 'STARD13',
 'TTC30A',
 'NR2F2',
 'CCDC80',
 'SMIM19',
 '2023-03-01 00:00:00',
 'SYNGR2',
 'BCL2L11',
 'ZNF219',
 'GDPD1',
 'SESN2',
 'NDNF',
 'ABT1',
 'DNAJB4',
 'TRIM22',
 'KAT5',
 'TPMT',
 'USP11',
 'A2M',
 'TAB1',
 'ANP32E',
 'PROM2',
 'ZNF768',
 'ENPEP',
 'GOLGA2',
 'WWC1',
 'TBL1XR1',
 'COX11',
 'CLDN7',
 'USHBP1',
 'MYH10',
 'PTPN9',
 'CYR61',
 'UTP14A',
 'FBXL3',
 'TPK1',
 'TRAF5',
 'CTSZ',
 'POP4',
 'MED28',
 'PSMB10',
 'TTC39B',
 'TNIP1',
 'ABCE1',
 'XXYLT1',
 'PROM1',
 'AMDHD2',
 'CHPT1',
 'RIT1',
 'KIF13A',
 'PDAP1',
 'RANBP10',
 'LFNG',
 'SPG11',
 'PRRC2A',
 'LMAN1',
 'EAPP',
 'CPA3',
 'QSOX1',
 'EPB41L4A',
 'UBXN1',
 'ARMH3',
 'SDHAF4',
 'STBD1',
 'SIPA1L2',
 'SNX9',
 'MVB12A',
 'GTF3C1',
 'EPM2A',
 'RAB33B',
 'BRD9',
 'TMED2',
 'MERTK',
 'ITGA4',
 'TPP1',
 'STARD5',
 'SCIN',
 'PLRG1',
 'FMO5',
 'HMBS',
 'PNPLA8',
 'SSH3',
 'TYSND1',
 'SLC9A7',
 'COL4A1',
 'LRSAM1',
 'SNX30',
 'TULP3',
 'CD74',
 'RHBDF2',
 'SBF1',
 'PROCR',
 'CYP4V2',
 'MDN1',
 'TMEM97',
 'RPP30',
 'TOMM7',
 'AP5Z1',
 'TTC37',
 'UBR1',
 'DTD1',
 'TADA1',
 'SEL1L',
 'SFXN2',
 'CTCF',
 'GADD45GIP1',
 'NT5DC2',
 'ADGRG6',
 'CD8A',
 'P4HB',
 'ORM1',
 'LCK',
 'DNPEP',
 'HOOK1',
 'PRKCB',
 'C11ORF96',
 'POLDIP2',
 'RCL1',
 'LRRC8C',
 'CSAD',
 'PSME2',
 'CKMT2',
 'MAP4K2',
 'PJA1',
 'DET1',
 'MED27',
 'RCHY1',
 'STK17B',
 'SERPINA3',
 'LRBA',
 'ANKRD11',
 'ZBTB1',
 'RSL24D1',
 'CGAS',
 'RNASEL',
 'CCDC6',
 'STK4',
 'KCTD21',
 'SLC25A10',
 'GAS7',
 'SRCAP',
 'CRBN',
 'UBA6',
 'ITPKB',
 'P3H1',
 'TMCC1',
 'TBC1D16',
 'MTM1',
 'INTS14',
 'EIF5',
 'FBH1',
 'DKK3',
 'CDC123',
 'VPS37C',
 'TBCD',
 'ARAP3',
 'SNRPA',
 'FKBP15',
 'UBE2D2',
 'CPE',
 'SORL1',
 'CASP4',
 'BAX',
 'IGFBP4',
 'SND1',
 'SAT2',
 'HKDC1',
 'IFIT5',
 'PLVAP',
 'SH3YL1',
 'DSTN',
 'PBDC1',
 'SSBP4',
 'PGM5',
 'B3GAT3',
 'RHOT2',
 'DCTD',
 'NTN4',
 'FAP',
 'MAML2',
 'BCL7A',
 'OGFOD1',
 'HECA',
 'LYST',
 'PNPLA7',
 'PROX1',
 'IGFBP3',
 'NOS1',
 'ROBO4',
 'EFHD2',
 'STK38',
 'PA2G4',
 'AGGF1',
 'LOX',
 'MED8',
 'PLGRKT',
 'NFU1',
 'GPATCH11',
 'STAT5A',
 'NOV',
 'WIPI2',
 'ANKRD6',
 'FLCN',
 'HERC4',
 'TFAP4',
 'LLGL1',
 'TRAPPC3',
 'AKAP1',
 'KANSL1',
 'AKT3',
 'RERE',
 'SMARCC1',
 'POLK',
 'AVEN',
 'FNDC1',
 'ADH1B',
 'CRYL1',
 'NIT2',
 'PLXNB1',
 'ANP32A',
 'SLFN13',
 'SCO2',
 'SAMPLE_TYPE',
 'SEC14L4',
 'HSP90AB1',
 'TAF7',
 'GORASP1',
 'LOXL2',
 'SEC23IP',
 'SUMO1',
 'QPCTL',
 'TFE3',
 'CSTA',
 'MBLAC2',
 'PDGFC',
 'C5AR1',
 'SH3RF3',
 'ZC3H15',
 'CCL5',
 'TEAD3',
 'HAUS4',
 'ROMO1',
 'ST3GAL4',
 'VWA5A',
 'RAE1',
 'LGALS9',
 'PDPK1',
 'UHRF1',
 'RIF1',
 'HDGFL2',
 'RNF146',
 'CCT2',
 'SC5D',
 'PRKACB',
 'RNF213',
 'PPCS',
 'P2RX7',
 'RHOF',
 'GPSM1',
 'TACC1',
 'PSEN1',
 'ANKHD1',
 'MARK1',
 'UBAP2',
 'DRAM2',
 'SCYL3',
 'INTS11',
 'GPRC5A',
 'CEP112',
 'WDR87',
 'YRDC',
 'BZW2',
 'LRRC45',
 'FEZ2',
 'FOSL2',
 'PARL',
 'CAMLG',
 'STAM2',
 'MECP2',
 'INTS6L',
 'NUDCD3',
 'MTPN',
 'BRMS1L',
 'MANBAL',
 'PSMD2',
 'GALNT7',
 'GATAD2A',
 'SSBP1',
 'YBEY',
 'ATL2',
 'RPAP1',
 'MEGF8',
 'TNFAIP8L3',
 'CPTP',
 'CRYBG3',
 'CXORF56',
 'DNASE1L1',
 'LIME1',
 'TMEM205',
 'UBR3',
 'RAB8A',
 'RIN2',
 'TMEM119',
 'ABCA2',
 'UROD',
 'CACUL1',
 'PNO1',
 'SQSTM1',
 'CEMIP2',
 'PDGFD',
 'ZFAND6',
 'FAM89B',
 'DENND4B',
 'ORC3',
 'RTCA',
 'FAM20B',
 'INPP5B',
 'AMY1A',
 'DPCD',
 'TUBB4B',
 'DTX2',
 'SERPINA5',
 'SERPIND1',
 'SRGAP3',
 'GZMA',
 'PEX16',
 'PRKAG1',
 'SPECC1',
 'NT5C3B',
 'TBP',
 'FGD5',
 'C12ORF65',
 'GINS3',
 'HSPA9',
 'UBE2G1',
 'CD3D',
 'LAMTOR5',
 'INTS3',
 'LIMCH1',
 'PCM1',
 'BIN1',
 'ERO1A',
 'ZNF668',
 'OGT',
 'BCL2L15',
 'BLMH',
 'RHOA',
 'LARP4B',
 'MPP5',
 'ERLEC1',
 'RCSD1',
 'CHIT1',
 'TFB1M',
 'ITPRIP',
 'LRRK1',
 'IGHG1',
 'MRPS5',
 'MLX',
 'MRPL17',
 'ACBD6',
 'DHX40',
 'CDK5RAP2',
 'ARHGDIA',
 'DPY19L3',
 'ARPC5L',
 'SPTLC2',
 'MAP3K7',
 'HNRNPR',
 'SH3BP5L',
 'CLPTM1',
 'PPP4R1',
 'PTPN11',
 'STAG1',
 'DEF6',
 'LAMTOR1',
 'OGN',
 'PLIN1',
 'TMOD1',
 'CRACR2A',
 'FAM234A',
 'UNC45A',
 'IFIT2',
 'WASHC2C',
 'MTSS1',
 'NAV1',
 'CCDC92',
 'ERBIN',
 'CLGN',
 'TBL1X',
 'ZNF281',
 'GNG7',
 'ADK',
 'UGGT2',
 'OCRL',
 'RDX',
 'SMG5',
 'SUN2',
 'EPDR1',
 'RABGEF1',
 'TPRN',
 'SMAP1',
 'FA2H',
 'RAB2B',
 'TSPAN13',
 'PSMC4',
 'OSTC',
 'RHBDL2',
 'SIGMAR1',
 'GTF2E2',
 'AFAP1L2',
 'PFKFB3',
 'PFDN2',
 'ATG2A',
 'SNRNP27',
 'PIGU',
 'C12ORF66',
 'KLC4',
 'WASL',
 'OSBPL9',
 'CARD9',
 'FZD1',
 'AP4S1',
 'MAPK1',
 'CLCC1',
 'IDUA',
 'NFIX',
 'ESRRA',
 'PTK2',
 'TARBP2',
 'CHD9',
 'SMCHD1',
 'BCKDK',
 'TTLL12',
 'VCL',
 'UVRAG',
 'AZI2',
 'PDP1',
 'DNAJC10',
 'ACYP2',
 'METAP1',
 'PDLIM5',
 'CP',
 'WDR73',
 'SPR',
 'NUPL2',
 'COA4',
 'PCYOX1L',
 'TACO1',
 'BCAR3',
 'MTIF3',
 'PIGR',
 'AMPD3',
 'ETFRF1',
 'DNMT3A',
 'CHMP2A',
 'FCN2',
 'HNRNPA1',
 'SBDS',
 'DUS2',
 'SFXN1',
 'RBM8A',
 'REM1',
 'C1R',
 'NT5C',
 'MRPL49',
 'OLFML3',
 'POLR3GL',
 'STAT1',
 'TRA2B',
 'POMGNT1',
 'PHRF1',
 'LAMTOR3',
 'GFOD1',
 'JCHAIN',
 'CYSTM1',
 'ADNP',
 'NID2',
 'MRM2',
 'RNF135',
 'DDX42',
 'ADA2',
 'PHYKPL',
 'VPS13C',
 'RAB22A',
 'CCDC151',
 'FILIP1L',
 'ZAP70',
 'SDS',
 'APOC4',
 'NSUN6',
 'TRIM44',
 'ACTN4',
 'FYN',
 'SCYL1',
 'AK1',
 'PTBP3',
 'RPL7',
 'ZCCHC24',
 'RAB11FIP4',
 'SERPINA7',
 'SERPINB1',
 'DNAJA2',
 'SDE2',
 'MFF',
 'INO80',
 'BET1L',
 'COG1',
 'ERC1',
 'TTC12',
 'TCEAL4',
 'AGAP3',
 'DKC1',
 'SRSF4',
 'TUBB1',
 'MRPS22',
 'MED25',
 'CWF19L1',
 'EPSTI1',
 'DPYS',
 'UBASH3B',
 'RENBP',
 'STX3',
 'GOLIM4',
 'EEFSEC',
 'LBR',
 'HSPA1L',
 'SLC25A19',
 'CEP97',
 'SRFBP1',
 'EMC9',
 'HPX',
 'DNM1L',
 'ESRP2',
 'GPNMB',
 'VPS25',
 'EIF3H',
 'HABP2',
 'STK26',
 'WDR60',
 'MID1IP1',
 'PIP4K2A',
 'LSS',
 'C1QC',
 'RHOQ',
 'PFKL',
 'EFEMP1',
 'SUFU',
 'TIMMDC1',
 'CSRP1',
 'MAPK12',
 'RBM12',
 'COX8A',
 'TTC26',
 'RAB6B',
 'SRSF9',
 'TMEM245',
 'FBP1',
 'ARHGAP28',
 'PPIL2',
 'C12ORF4',
 'VRK1',
 'CARD16',
 'PSMD6',
 'GTF3C5',
 'ADI1',
 'XAF1',
 'SMPD1',
 'JMJD6',
 'GGPS1',
 'RPS29',
 'ARMC10',
 'GOSR2',
 'FBXO42',
 'RNF31',
 'NCSTN',
 'SLK',
 'ZNF771',
 'GLRX',
 'MIPOL1',
 'CNTRL',
 'SRP54',
 'LRRN4',
 'CREG1',
 'BECN1',
 'HM13',
 ...]

## take metadata with common header from two datasets and concate

In [65]:
df1_tomerge = df1[common_ones]
df1_tomerge.shape

(486, 9169)

In [66]:
df2_tomerge = df2[common_ones]
df2_tomerge.shape

(207, 9169)

In [67]:
df3_tomerge = df3[common_ones]
df3_tomerge.shape

(223, 9169)

In [68]:
df1_tomerge['Source'] = 'Chen'
df2_tomerge['Source'] = 'Clark'
df3_tomerge['Source'] = 'Gillette'

C:\Users\asehnouni\AppData\Local\Temp\ipykernel_9896\2041639494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_tomerge['Source'] = 'Chen'
C:\Users\asehnouni\AppData\Local\Temp\ipykernel_9896\2041639494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_tomerge['Source'] = 'Clark'
C:\Users\asehnouni\AppData\Local\Temp\ipykernel_9896\2041639494.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_tomerge['Source'] = 'Gillette'

In [69]:
output1 = pd.concat([df1_tomerge, df2_tomerge, df3_tomerge], ignore_index=True)
output1.shape

(916, 9170)

In [70]:
len(common_ones)

9169

In [71]:
new_column_order = ['Source',
 'TUMOR_STAGE',
 'PRIMARY_DIAGNOSIS',
 'ALIQUOT_ID',
 'ETHNICITY',
 'GENDER',
 'TISSUE_OR_ORGAN_OF_ORIGIN',
 'SAMPLE_TYPE',
 'MORPHOLOGY',
 'LAST_KNOWN_DISEASE_STATUS',
 'ALIQUOT_SUBMITTER_ID',
 'DEMOGRAPHIC_SUBMITTER_ID',
 'SITE_OF_RESECTION_OR_BIOPSY',
 'ID',
 'RACE',
 'TUMOR_GRADE',
 'DEMOGRAPHIC_ID',
 'DIAGNOSIS_SUBMITTER_ID',
 'DIAGNOSIS_ID']
len(new_column_order)

19

In [72]:
# new_column_order = ['Source',
#  'tumor_stage',
#  'primary_diagnosis',
#  'aliquot_id',
#  'ethnicity',
#  'gender',
#  'tissue_or_organ_of_origin',
#  'sample_type',
#  'morphology',
#  'last_known_disease_status',
#  'aliquot_submitter_id',
#  'demographic_submitter_id',
#  'site_of_resection_or_biopsy',
#  'id',
#  'race',
#  'tumor_grade',
#  'demographic_id',
#  'diagnosis_submitter_id',
#  'diagnosis_id']
# len(new_column_order)

In [73]:
output1 = output1[new_column_order]

In [74]:
output1.head()

,Source,TUMOR_STAGE,PRIMARY_DIAGNOSIS,ALIQUOT_ID,ETHNICITY,GENDER,TISSUE_OR_ORGAN_OF_ORIGIN,SAMPLE_TYPE,MORPHOLOGY,LAST_KNOWN_DISEASE_STATUS,ALIQUOT_SUBMITTER_ID,DEMOGRAPHIC_SUBMITTER_ID,SITE_OF_RESECTION_OR_BIOPSY,ID,RACE,TUMOR_GRADE,DEMOGRAPHIC_ID,DIAGNOSIS_SUBMITTER_ID,DIAGNOSIS_ID
0,Chen,IA,Adenocarcinoma,24b5f2c4-8beb-11ea-b1fd-0aad30af8a83,Not Reported,Male,"Lung, NOS",Tumor,Not Reported,Not Reported,P055-2-1,P055-DM,"Lung, NOS",97f912b6-0037-4dfc-881a-4d5d24381399,Not Reported,Not Reported,24b7a2c7-8beb-11ea-b1fd-0aad30af8a83,P055-DX,24b6ef0b-8beb-11ea-b1fd-0aad30af8a83
1,Chen,IA,Adenocarcinoma,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Not Reported,Male,"Lung, NOS",Normal Adjacent Tissue,Not Reported,Not Reported,P055-1-1,P055-DM,"Lung, NOS",488c5199-7536-4bee-baeb-60a29e7725e1,Not Reported,Not Reported,24b7a2c7-8beb-11ea-b1fd-0aad30af8a83,P055-DX,24b6ef0b-8beb-11ea-b1fd-0aad30af8a83
2,Chen,IB,Adenocarcinoma,24b610e5-8beb-11ea-b1fd-0aad30af8a83,Not Reported,Male,"Lung, NOS",Normal Adjacent Tissue,Not Reported,Not Reported,P067-1-1,P067-DM,"Lung, NOS",eac9ecff-2112-435b-b915-d2ade275d0ff,Not Reported,Not Reported,24b7b696-8beb-11ea-b1fd-0aad30af8a83,P067-DX,24b7062b-8beb-11ea-b1fd-0aad30af8a83
3,Chen,IA,Adenocarcinoma,24b5f08d-8beb-11ea-b1fd-0aad30af8a83,Not Reported,Male,"Lung, NOS",Normal Adjacent Tissue,Not Reported,Not Reported,P055-1-1,P055-DM,"Lung, NOS",183bd5d9-4f06-42fc-a72e-93f43e0c3d4a,Not Reported,Not Reported,24b7a2c7-8beb-11ea-b1fd-0aad30af8a83,P055-DX,24b6ef0b-8beb-11ea-b1fd-0aad30af8a83
4,Chen,IB,Adenocarcinoma,24b5fe6f-8beb-11ea-b1fd-0aad30af8a83,Not Reported,Male,"Lung, NOS",Tumor,Not Reported,Not Reported,P059-2-1,P059-DM,"Lung, NOS",7ce97481-3883-4507-983e-e27caddf11f9,Not Reported,Not Reported,24b7a907-8beb-11ea-b1fd-0aad30af8a83,P059-DX,24b6f6fa-8beb-11ea-b1fd-0aad30af8a83

In [75]:
output1.tail()

,Source,TUMOR_STAGE,PRIMARY_DIAGNOSIS,ALIQUOT_ID,ETHNICITY,GENDER,TISSUE_OR_ORGAN_OF_ORIGIN,SAMPLE_TYPE,MORPHOLOGY,LAST_KNOWN_DISEASE_STATUS,ALIQUOT_SUBMITTER_ID,DEMOGRAPHIC_SUBMITTER_ID,SITE_OF_RESECTION_OR_BIOPSY,ID,RACE,TUMOR_GRADE,DEMOGRAPHIC_ID,DIAGNOSIS_SUBMITTER_ID,DIAGNOSIS_ID
911,Gillette,Not Reported,"Adenocarcinoma, NOS",52704335-d0b0-11e9-9a07-0a80fada099c,Not Hispanic or Latino,Male,"Upper lobe, lung",Primary Tumor,8140/3,With tumor,CPT0001660013,C3L-00095-DM,"Upper lobe, lung",4633d898-becc-11e9-9a07-0a80fada099c,White,G2,47b22b33-27a4-11ec-b712-0a4e2186f121,C3L-00095-DX,28cd1954-27a4-11ec-b712-0a4e2186f121
912,Gillette,Not Reported,"Adenocarcinoma, NOS",5bae5c11-d0b0-11e9-9a07-0a80fada099c,Not Reported,Male,"Lung, NOS",Solid Tissue Normal,8140/3,Not Reported,CPT0090370003,C3N-00203-DM,"Lower lobe, lung",466f3763-becc-11e9-9a07-0a80fada099c,Other,G3,48f21e74-27a4-11ec-b712-0a4e2186f121,C3N-00203-DX,2a4733f7-27a4-11ec-b712-0a4e2186f121
913,Gillette,Not Reported,"Adenocarcinoma, NOS",67ea5efa-d0b0-11e9-9a07-0a80fada099c,Not Reported,Male,"Upper lobe, lung",Solid Tissue Normal,8140/3,With tumor,CPT0109710003,C3N-02002-DM,"Upper lobe, lung",46868516-becc-11e9-9a07-0a80fada099c,Asian,G2,4a9a89d6-27a4-11ec-b712-0a4e2186f121,C3N-02002-DX,2c4daa82-27a4-11ec-b712-0a4e2186f121
914,Gillette,Not Reported,"Adenocarcinoma, NOS",66ef980d-d0b0-11e9-9a07-0a80fada099c,Not Hispanic or Latino,Male,"Lower lobe, lung",Solid Tissue Normal,8140/3,Tumor free,CPT0089360003,C3N-01799-DM,"Lower lobe, lung",466cd479-becc-11e9-9a07-0a80fada099c,White,G2,4a7f7ce9-27a4-11ec-b712-0a4e2186f121,C3N-01799-DX,2c2f1342-27a4-11ec-b712-0a4e2186f121
915,Gillette,Not Reported,"Adenocarcinoma, NOS",589d87c2-d0b0-11e9-9a07-0a80fada099c,Not Hispanic or Latino,Female,"Upper lobe, lung",Solid Tissue Normal,8140/3,With tumor,CPT0114010003,C3L-02345-DM,"Upper lobe, lung",468f718e-becc-11e9-9a07-0a80fada099c,White,G2,48ad559a-27a4-11ec-b712-0a4e2186f121,C3L-02345-DX,29a7bec6-27a4-11ec-b712-0a4e2186f121

In [76]:
# Check if output file exists, if so, delete it before saving the final combined df
output_file = 'metadata_combine_identical.csv'
if os.path.exists(output_file):
    os.remove(output_file)

output1.to_csv("metadata_combine_identical.csv", index=False)

## output uncommon metadata

In [77]:
df1_uncommon = df1.drop(common_ones, axis=1)
df1_uncommon.shape

(486, 2070)

In [78]:
df1_uncommon.head()

,CASE_SUBMITTER_ID,ALIQUOT_STATUS,CASE_STATUS,SAMPLE_STATUS,DISEASE_TYPE,PRIMARY_SITE,POOL,TAXON,CAUSE_OF_DEATH,YEAR_OF_BIRTH,...,ZNF816,ZNF837,ZNF841,ZNF845,ZNF853,ZNF99,ZRANB3,ZSCAN2,ZSCAN25,ZSWIM9
0,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,NaN,1950,...,NaN,NaN,0.75,NaN,NaN,0.13,NaN,NaN,NaN,0.54
1,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,NaN,1950,...,NaN,NaN,0.06,NaN,NaN,-0.19,NaN,NaN,NaN,0.62
2,P067,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,NaN,1975,...,NaN,NaN,-0.07,-0.51,NaN,NaN,NaN,NaN,NaN,0.59
3,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,NaN,1950,...,0.6,-0.24,0.08,NaN,NaN,-0.12,0.41,-0.32,NaN,0.08
4,P059,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,NaN,1959,...,0.33,NaN,-0.08,-0.45,NaN,-0.65,NaN,NaN,NaN,NaN

In [79]:
df1_uncommon['Source'] = 'Chen'

In [80]:
column_list = df1_uncommon.columns.tolist()

In [81]:
df2_uncommon = df2.drop(common_ones, axis=1)
df2_uncommon.shape

(207, 880)

In [82]:
df2_uncommon.head()

,CASE_ID,CASE_SUBMITTER_ID,ALIQUOT_STATUS,CASE_STATUS,SAMPLE_STATUS,DISEASE_TYPE,PRIMARY_SITE,POOL,TAXON,CAUSE_OF_DEATH,...,ZNF277,ZNF28,ZNF286B,ZNF32,ZNF395,ZNF568,ZNF646,ZNF724,ZNF799,ZSCAN21
0,NaN,C3N-00168,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,Kidney,No,Homo sapiens,Not Reported,...,-0.77,0.43,-0.15,NaN,-0.55,-0.2,NaN,NaN,-0.3,0.06
1,c2b91945-1fb8-11e9-b7f8-0a80fada099c,C3L-00416,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,Kidney,No,Homo sapiens,Not Reported,...,-0.06,NaN,0.08,NaN,0.05,NaN,0.11,NaN,NaN,NaN
2,227bf2e8-1fb9-11e9-b7f8-0a80fada099c,C3L-01560,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,Kidney,No,Homo sapiens,Not Reported,...,NaN,-0.08,-2.15,0.3,0.67,0.15,-0.24,NaN,NaN,0.13
3,NaN,QC5,Qualified,Qualified,Qualified,Other,Not Reported,No,Homo sapiens,Not Reported,...,NaN,0.97,0.18,NaN,-0.49,-0.97,NaN,0.82,-1.29,0.36
4,effb1654-1fb8-11e9-b7f8-0a80fada099c,C3L-00910,Qualified,Qualified,Qualified,Clear Cell Renal Cell Carcinoma,Kidney,No,Homo sapiens,Not Reported,...,-0.36,0.08,-1.04,-0.76,0.66,0.38,0.12,NaN,0.25,-0.34

In [83]:
df2_uncommon['Source'] = 'Clark'

In [84]:
column_list = df2_uncommon.columns.tolist()

In [85]:
df3_uncommon = df3.drop(common_ones, axis=1)
df3_uncommon.shape

(223, 1900)

In [86]:
df3_uncommon.head()

,CASE_ID,SAMPLE_ID,DAYS_TO_LAST_FOLLOW_UP,DAYS_TO_LAST_KNOWN_DISEASE_STATUS,DAYS_TO_RECURRENCE,PROGRESSION_OR_RECURRENCE,ALIQUOT_ALIAS,REPLICATE,STUDY_RUN_METADATA_ID,STUDY_RUN_METADATA_SUBMITTER_ID,...,ZNF792,ZNF821,ZNF845,ZNF852,ZNF91,ZNRF1,ZSWIM4,ZSWIM9,ZWINT,ZXDA
0,NaN,a72896a1-d0a6-11e9-9a07-0a80fada099c,229,229,NaN,Not Reported,CPT0105270003,1,07cb9c17-bec8-11e9-9a07-0a80fada099c,S046-1-13,...,0.72,NaN,0.91,0.33,-0.52,-1.97,1.75,NaN,1,-0.37
1,NaN,9e14cdb5-d0a6-11e9-9a07-0a80fada099c,671,671,NaN,No,CPT0092940003,1,07cb5ef3-bec8-11e9-9a07-0a80fada099c,S046-1-1,...,-0.88,NaN,-0.17,-0.66,0.98,0.52,-0.6,-0.02,NaN,NaN
2,NaN,a48ae544-d0a6-11e9-9a07-0a80fada099c,477,477,NaN,No,CPT0069550003,1,07cbc2df-bec8-11e9-9a07-0a80fada099c,S046-1-23,...,-0.64,0.36,-0.3,-0.51,0.04,-0.13,NaN,NaN,0.01,-0.01
3,NaN,ad9d7b92-d0a6-11e9-9a07-0a80fada099c,1111,1111,NaN,No,CPT0148100003,1,07cb7158-bec8-11e9-9a07-0a80fada099c,S046-1-3,...,-0.53,0.19,-0.39,-0.45,0.87,0.01,-1.37,0.2,-0.9,NaN
4,NaN,a07f87f2-d0a6-11e9-9a07-0a80fada099c,355,355,NaN,No,CPT0066810003,1,07cba2f4-bec8-11e9-9a07-0a80fada099c,S046-1-15,...,-0.18,0.45,0.14,-0.05,-0.05,-0.03,0.34,0.38,-0.35,0.31

In [87]:
df3_uncommon['Source'] = 'Gillette'

In [88]:
column_list = df3_uncommon.columns.tolist()

In [89]:
df4_uncommon = df4
df4_uncommon.shape

(75, 20)

In [90]:
df4_uncommon.head()

,ID,SEX,AGE AT DIAGNOSIS [YEARS],PERIPHERAL BLASTS [%],BONE MARROW BLASTS [%],PRECURSOR,KARYOTYPE,NPM1,FLT3,FLT3ITD VAF,ELN,FAB,INDUCTION CYCLES [N],DAY 15 BONE MARROW BLASTS,CR1,ALLOGENEIC HSCT,DEATH EVENT,OS [MONTHS],RELAPSE EVENT,RFS [MONTHS]
0,AML34,f,65,79,50.5,de novo,NaN,NaN,WT,NaN,Favorable,M2,1,NaN,CR1,TraNo TransplantsplaNo Transplantt,0,89.74359,1,15.450362
1,AML44,f,74,53,NaN,de novo,NaN,Mut,WT,NaN,Intermediate,AL,1,Blast clearance,CR1,No Transplant,1,36.489152,1,14.102564
2,AML46,m,67,54,93,de novo,NaN,Mut,WT,NaN,Intermediate,M1,1,No blast clearance,CR1,No Transplant,0,34.812623,0,33.168968
3,AML53,m,75,25,74,de novo,NaN,WT,WT,NaN,Favorable,M2,1,Blast clearance,CR1,No Transplant,1,12.163051,1,10.190664
4,AML54,m,46,NaN,66.5,de novo,NaN,WT,WT,NaN,Favorable,M4Eo,1,NaN,no CR1,No Transplant,1,0.164366,NaN,NaN

In [91]:
df4_uncommon['Source'] = 'Jayavelu'

In [92]:
df5_uncommon = df5
df5_uncommon.shape

(44, 1985)

In [93]:
df5_uncommon.head()

,UPN,TCGA PATIENT ID,EXPIRED? 4.30.13,SEX,RACE/ETHNICITY,FAB,AGE,%BM BLAST,WBC,%PB BLAST,...,ZNF783,ZNF788,ZNF827,ZNF99,ZPBP,ZSCAN21,ZSCAN5A,ZYG11A,MUTATED GENES,MUTATED RECURRENT GENES
0,103342,2978,*,F,Caucasian,M2,61,43,9.8,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,7
1,113971,2966,*,F,Caucasian,M2,57,43,3.1,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,8
2,146218,2870,*,M,Caucasian,M1,76,73,34,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,6
3,258135,2914,,F,Caucasian,M2,22,55,51.8,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,8
4,273919,3000,,M,Caucasian,M2,25,56,98.8,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3

In [94]:
df5_uncommon['Source'] = 'Kramer'

In [95]:
#df5_uncommon = df5_uncommon[column_final]

In [96]:
df6_uncommon = df6
df6_uncommon.shape

(7673, 37)

In [97]:
df6_uncommon.head()

,PROTEIN IDS,MAJORITY PROTEIN IDS,PROTEIN NAMES,GENE NAMES,NUMBER OF PROTEINS,PEPTIDES,RAZOR + UNIQUE PEPTIDES,UNIQUE PEPTIDES,C(PMOL/MG) C1,C(PMOL/MG) C10,...,C(PMOL/MG) FL14,C(PMOL/MG) FL15,C(PMOL/MG) FL2,C(PMOL/MG) FL3,C(PMOL/MG) FL4,C(PMOL/MG) FL5,C(PMOL/MG) FL6,C(PMOL/MG) FL7,C(PMOL/MG) FL8,C(PMOL/MG) FL9
0,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,A0A0A0MRP6;P28370-2;P28370;B7ZLQ5,Probable global transcription activator SNF2L1,SMARCA1,4,30,12,12,0,0.012429,...,0.014608,0.022426,0,0.002744,0,0,0.012181,0,0.012875,0.016807
1,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,A0A0A0MS12;A0A0G2JPU1;A0A0C4DH40;A0A0G2JNA6;A0...,NaN,IGHV4-34;IGHV4-59;IGHV4-61;IGHV4-39,7,3,3,3,16.901884,1.427175,...,1.72743,0,0.316087,0.202023,0.225222,0.660892,0,0,0.437809,2.825677
2,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,A0A0G2JIA5;B4E0K6;A0A0G2JL52;Q5ST30;B7ZL25;Q5S...,"Valine--tRNA ligase, mitochondrial",VARS2,11,28,28,28,0.512938,0.715448,...,0.559793,0.298356,0.163265,0.179274,0.448258,0.129288,0.140331,0.215341,0.3099,0.472894
3,A0A0G2JN66;A0A087WZV8,A0A0G2JN66;A0A087WZV8,NaN,TRBV28,2,5,5,1,1.432149,1.574022,...,0.923741,0.164761,0.642563,2.374377,0.578012,0.415934,0.183199,0.831818,1.193792,0.804384
4,A1L0T0;E9PJS0;E9PL44,A1L0T0;E9PJS0,Acetolactate synthase-like protein,ILVBL,3,14,14,2,1.191357,1.038386,...,0.671176,0.597485,0.304442,0.348417,0.792399,0.171678,0.547694,0.418551,1.296658,1.273972

In [98]:
df6_uncommon['Source'] = 'Kamila'

In [99]:
df7_uncommon = df7
df7_uncommon.shape

(2412, 6)

In [100]:
df7_uncommon.head()

,UNIPROT ID,PROTEIN NAMES,GENE NAME,TYPE OF PROTEIN,% OF TOTAL MASS,PEPTIDES
0,F5GZS6,4F2 cell-surface antigen heavy chain,SLC3A2,single TM helix,0.050251,55
1,P35613,Basigin,BSG,type-I,0.091381,21
2,P16070,CD44 antigen,CD44,type-I,0.122657,20
3,R4GN18,Membrane cofactor protein,CD46,type-I,0.15073,5
4,P05556,Integrin beta-1,ITGB1,type-I,0.171588,72

In [101]:
df7_uncommon['Source'] = 'Toby'

In [102]:
output2 = pd.concat([df1_uncommon, df2_uncommon, df3_uncommon, df4_uncommon, df5_uncommon, df6_uncommon, df7_uncommon], ignore_index=True)
output2.shape

(11120, 5041)

In [103]:
columns = list(output2.columns)
Source_index = columns.index('Source')
columns = ['Source'] + columns[:Source_index] + columns[Source_index + 1:]

output2 = output2[columns]

output2 = output2.fillna('N/A')

In [104]:
output2.head()

,Source,CASE_SUBMITTER_ID,ALIQUOT_STATUS,CASE_STATUS,SAMPLE_STATUS,DISEASE_TYPE,PRIMARY_SITE,POOL,TAXON,CAUSE_OF_DEATH,...,C(PMOL/MG) FL4,C(PMOL/MG) FL5,C(PMOL/MG) FL6,C(PMOL/MG) FL7,C(PMOL/MG) FL8,C(PMOL/MG) FL9,UNIPROT ID,GENE NAME,TYPE OF PROTEIN,% OF TOTAL MASS
0,Chen,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
1,Chen,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
2,Chen,P067,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
3,Chen,P055,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
4,Chen,P059,Qualified,Qualified,Qualified,Lung Adenocarcinoma,Lung,No,Homo sapiens,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [105]:
output2.to_csv("metadata_combine_unidentical.csv", index=False)

In [106]:
unique_sources = pd.concat([output1['Source'], output2['Source']]).unique()

# Create a DataFrame to hold the merged data
merged_output = pd.DataFrame(columns=output1.columns)

# Iterate through unique sources and merge the rows
for source in unique_sources:
    source_data1 = output1[output1['Source'] == source]
    source_data2 = output2[output2['Source'] == source]

    # Merge data based on the index (common columns)
    combined_source_data = pd.concat([source_data1, source_data2], axis=1)
    
    # Remove duplicated "Source" columns
    combined_source_data = combined_source_data.loc[:,~combined_source_data.columns.duplicated()]

    # Add 'Source' column from output2 to combined_source_data
    combined_source_data['Source'] = source

    merged_output = pd.concat([merged_output, combined_source_data], ignore_index=True)

In [107]:
merged_output.shape

(11120, 5058)

In [108]:
temp = merged_output[['Source','GENDER','SEX','SEX ']]

In [109]:
temp.shape

(11120, 4)

In [110]:
temp.head()

  Source GENDER  SEX SEX
0   Chen   Male  N/A  N/A
1   Chen   Male  N/A  N/A
2   Chen   Male  N/A  N/A
3   Chen   Male  N/A  N/A
4   Chen   Male  N/A  N/A

In [111]:
temp['Source'].unique()

array(['Chen', 'Clark', 'Gillette', 'Jayavelu', 'Kramer', 'Kamila',
       'Toby'], dtype=object)

In [112]:
temp["GENDER"] = temp["GENDER"].combine_first(temp["SEX"])
temp.shape

C:\Users\asehnouni\AppData\Local\Temp\ipykernel_9896\368367817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["GENDER"] = temp["GENDER"].combine_first(temp["SEX"])

(11120, 4)

In [113]:
temp_Jay = temp[temp['Source'] == 'Jayavelu']
temp_Jay.shape

(75, 4)

In [114]:
temp_Kra = temp[temp['Source'] == 'Kramer']
temp_Kra.shape

(44, 4)

In [115]:
temp_Kra.head(10)

      Source GENDER SEX SEX
991   Kramer      F   F  N/A
992   Kramer      F   F  N/A
993   Kramer      M   M  N/A
994   Kramer      F   F  N/A
995   Kramer      M   M  N/A
996   Kramer      F   F  N/A
997   Kramer      F   F  N/A
998   Kramer      M   M  N/A
999   Kramer      F   F  N/A
1000  Kramer      F   F  N/A

In [116]:
temp_Jay.head(10)

       Source GENDER  SEX SEX
916  Jayavelu    N/A  N/A    f
917  Jayavelu    N/A  N/A    f
918  Jayavelu    N/A  N/A    m
919  Jayavelu    N/A  N/A    m
920  Jayavelu    N/A  N/A    m
921  Jayavelu    N/A  N/A    m
922  Jayavelu    N/A  N/A    m
923  Jayavelu    N/A  N/A    m
924  Jayavelu    N/A  N/A    m
925  Jayavelu    N/A  N/A    m

In [117]:
temp["GENDER"] = temp["GENDER"].combine_first(temp["SEX "])
temp.shape

C:\Users\asehnouni\AppData\Local\Temp\ipykernel_9896\924551080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["GENDER"] = temp["GENDER"].combine_first(temp["SEX "])

(11120, 4)

In [118]:
temp_Jay = temp[temp['Source'] == 'Jayavelu']
temp_Jay.shape

(75, 4)

In [119]:
temp_Jay.head(10)

       Source GENDER  SEX SEX
916  Jayavelu    N/A  N/A    f
917  Jayavelu    N/A  N/A    f
918  Jayavelu    N/A  N/A    m
919  Jayavelu    N/A  N/A    m
920  Jayavelu    N/A  N/A    m
921  Jayavelu    N/A  N/A    m
922  Jayavelu    N/A  N/A    m
923  Jayavelu    N/A  N/A    m
924  Jayavelu    N/A  N/A    m
925  Jayavelu    N/A  N/A    m

In [120]:
# merged_output["SEX "] = merged_output["SEX "].combine_first(merged_output["SEX"])

# # drop sex column
# merged_output.drop(columns=["SEX"], inplace=True)

In [121]:
# merged_output["GENDER"] = merged_output["GENDER"].combine_first(merged_output["SEX "])

# # drop sex column
# merged_output.drop(columns=["SEX "], inplace=True)

In [122]:
merged_output.replace("N/A", float("nan"), inplace=True)

merged_output["GENDER"] = merged_output["GENDER"].combine_first(merged_output["SEX"])
merged_output["GENDER"].fillna(merged_output["SEX "], inplace=True)
merged_output["SEX "].fillna(merged_output["GENDER"], inplace=True)


# drop sex column
merged_output.drop(columns=["SEX", "SEX "], inplace=True)

In [123]:
# Convert AGE AT DIAGNOSIS columns from days to years
merged_output['AGE_AT_DIAGNOSIS'] = (merged_output['AGE_AT_DIAGNOSIS'] / 365.25).round()#.astype(int).fillna('N/A')

In [124]:
merged_output.replace("N/A", float("nan"), inplace=True)

merged_output["AGE_AT_DIAGNOSIS"] = merged_output["AGE_AT_DIAGNOSIS"].combine_first(merged_output["AGE AT DIAGNOSIS [YEARS]"])
merged_output["AGE_AT_DIAGNOSIS"].fillna(merged_output["AGE"], inplace=True)
merged_output["AGE"].fillna(merged_output["AGE_AT_DIAGNOSIS"], inplace=True)


# drop column
merged_output.drop(columns=["AGE AT DIAGNOSIS [YEARS]", "AGE"], inplace=True)

In [125]:
merged_output["GENE NAME"] = merged_output["GENE NAME"].combine_first(merged_output["GENE NAMES"])

# drop column
merged_output.drop(columns=["GENE NAMES"], inplace=True)

In [128]:
merged_output["RACE"] = merged_output["RACE"].combine_first(merged_output["RACE/ETHNICITY"])

# drop column
merged_output.drop(columns=["RACE/ETHNICITY"], inplace=True)

In [126]:
# merged_output["GENDER"] = merged_output["GENDER"].fillna(merged_output.pop("SEX "))


# merged_output.replace(dict.fromkeys(['N/A'], None))

# merged_output["GENDER"] = merged_output["GENDER"].fillna(merged_output.pop("SEX"))

In [129]:
# Replace blank cells with 'N/A'
merged_output = merged_output.fillna('N/A')

# Export the merged output to a CSV file
merged_output_file = 'merged_combined_metadata.csv'
if os.path.exists(merged_output_file):
    os.remove(merged_output_file)

merged_output.to_csv(merged_output_file, index=False)